# Copy this file to `.env` and adjust.

PHX_IP=0.0.0.0

PORT=4000
PLC_PORT=4001
PDS_PORT=4002

POOL_SIZE=10
DATABASE_URL=postgres://postgres:postgres@localhost:5432/dataplane
DATAPLANE_URL=http://localhost:2585
USERBASE_JSON=example/userbase.json

PLC_MULTIKEY=zQ3shaSUSFjTPxogQR7eQ9QGwKWUdMmrHyjNiUg9oGJ8Lefiv
PLC_PRIVATE_HEX=bfe084f28e8bd6a64cbc18eea04c17457c9c48ce34498bc635b19ec7530d5e4a

FINCH_POOL_SIZE=200
PROMETHEUS_PORT=9568

# PHX_HOST=localhost
# SECRET_KEY_BASE=
# PLC_SECRET_KEY_BASE=
# PDS_SECRET_KEY_BASE=
